<% include ../partials/header %>  

<div class="container">
    <div class="row" >
          <div style="margin:0 auto; width:33%">
             <h1 style=""> Add a new comment to <%=camp.name %> </h1></br>
           
        <form action="/campgrounds/<%=camp._id%>/comments" method="POST">
            
            <div class="form-group">
                <input class="form-control" placeholder="text"  name="text" type="text"> 
            </div>
           <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Add</button>
           </div>
            
            <a href="/campgrounds">Go back</a>
        </form>
        
      </div>
 </div>
</div>

<% include ../partials/bottom %>